<!DOCTYPE html  lang="en">{% extends 'base.html' %} {% block content %}
<h1>{% if view.action == 'create' %}Add{% else %}Edit{% endif %} doctor</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-label" for="{{ form.name.id_for_label }}">Name:</label> {{ form.name }}
    </div>

    <div class="form-group">
        <label class="form-label" for="{{ form.email.id_for_label }}">Email:</label> {{ form.email }}
    </div>

    <div class="form-group">
        <label class="form-label" for="{{ form.password.id_for_label }}">Password:</label> {{ form.password }}
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}