<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'adminstyle.css' %}">
    <title>Patient Sessions</title>
</head>

<body>{% block title %} {% if mode == 'create' %}Create{% else %}Edit{% endif %} Patient {% endblock %} {% block content %}
    <h1>{% if mode == 'create' %}Create{% else %}Edit{% endif %} Patient</h1>
    <form method="POST" class="mb-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ patient.name }}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ patient.email }}">
        </div>
        <div class="form-group">
            <label for="birth_date">Birth Date:</label>
            <input type="date" class="form-control" id="birth_date" name="birth_date" value="{{ patient.birth_date }}">
        </div>
        <button type="submit" class="btn btn-primary">{% if mode == 'create' %}Create{% else %}Save{% endif %}</button>
        <a href="{% url 'patient_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
    {% endblock %}

</body>

</html>